# --------- aicrowd --------- #
aicrowd_api
coloredlogs
numpy
loguru
boto3
openunmix
musdb
SoundFile
scipy
norbert
requests

# --------- pytorch --------- #
torch>=1.9.0
pytorch-lightning>=1.4.1

# --------- hydra --------- #
hydra-core==1.1.0.rc1
hydra-colorlog==1.1.0.dev1
hydra-optuna-sweeper==1.1.0.dev2

# --------- loggers --------- #
wandb>=0.10.30

# --------- linters --------- #
pre-commit
black
isort
flake8

# --------- others --------- #
jupyterlab
python-dotenv
rich
pytest
sh
scikit-learn
seaborn
pudb

# --------- kuielab --------- #
coloredlogs
museval
jupyter
librosa==0.8
